body{
    background-color: rgb(192, 223, 241);

}

h1{ 
    text-align: center;
    color: rgb(7, 45, 66);
}

button{
    background-color: rgb(108, 165, 197);
    font-size: small;
    font-weight: bold;
    border-radius: 30%;
}

div {
padding: 20px;
margin: 20px;
border: 2px solid black;
}

.augsa{
background-color: #8b9aad;
gap: 50px;
display: flex;
align-items: center;
}

a{
color: #eaebfa;
text-decoration: none;
font-size: 20px;
background-color: #535c68;
padding: 10px;
margin-right: 10px;
box-shadow: 5px 5px 5px #8b9aad;
border-radius: 10%;
border-width: 3px;
border-color: black;
}

.center{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

li{
    font-size: 18px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 22px;
}